@import '~@react-md/theme/dist/color-palette';

// Nine Club orange: 216, 101, 41 #D8651F

$rmd-theme-light: true;
$rmd-theme-primary: $rmd-deep-orange-900;
$rmd-theme-secondary: $rmd-deep-orange-900;

$rmd-typography-font-family: Helvetica, Arial, 'Droid Sans', sans-serif !default;
